<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>

    <body>
        <%- include('./partials/nav') %>
        <div class="container">
            <ul class="collection with-header">
                <% if (items.length> 0) { %>
                    <% items.forEach(item=> { %>
                        <li class="collection-item">
                            <div>
                                <span>
                                    <%= item.name %>
                                </span>
                                <span>
                                    Rp. <%= item.price %>
                                </span>
                                <a href="#!" class="secondary-content">
                                    <i class="material-icons">edit</i>
                                    <i class="material-icons">delete</i>
                                </a>
                            </div>
                        </li>
                    <% }); %>

                <% } else { %>
                    <li class="collection-item">
                        <div>
                            You don't have any items
                        </div>
                    </li>
                <% } %>
            </ul>
        </div>
    </body>

</html>